* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: #eaeae3;
}

.header {
    padding: 10px 0;    
    border-bottom: 5px solid #198754;
}

.main {
    padding: 20px 0;
}

.section {
    margin-bottom: 40px;
    padding: 10px 5px;
    background-color: #fff;
    border: 1px solid #198754;
    border-radius: 5px; 
    box-shadow: 3px 3px 3px #ddd;
}

.footer {
    padding: 10px 0;
}

.colophon a {
    color: #198754;
}